<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Shop.Properties.Settings>
            <setting name="CS" serializeAs="String">
                <value>Srvr="10.0.0.2";Ref="utrus_beckup";Usr="Admin";Pwd="9780100941";</value>
            </setting>
            <setting name="Organisation" serializeAs="String">
                <value>ИП Картавцев А.В.</value>
            </setting>
            <setting name="Warehouse" serializeAs="String">
                <value>Склад виртуальный(для приходов)</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>руб</value>
            </setting>
            <setting name="CounterpartyName" serializeAs="String">
                <value>Создано в электронном магазине</value>
            </setting>
            <setting name="CounterpartyPhone" serializeAs="String">
                <value>Телефон контрагента</value>
            </setting>
            <setting name="Bill" serializeAs="String">
                <value>Договор приобретения в электронном магазине</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Заказ из электронного магазина</value>
            </setting>
            <setting name="Unit" serializeAs="String">
                <value>шт</value>
            </setting>
            <setting name="PriceType" serializeAs="String">
                <value>Розничная</value>
            </setting>
            <setting name="Cache" serializeAs="String">
                <value>\\server2\Temp\pictures1\</value>
            </setting>
            <setting name="Splash" serializeAs="String">
                <value>False</value>
            </setting>
        </Shop.Properties.Settings>
    </userSettings>
</configuration>